body {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.top {
    position: relative;
    background-color: #f8f8f8;
    background-image: url('../img/background-haeder.jpg');
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 450px auto;
}

.top::after {
    content: "";
    position: absolute;
    top: 70px;
    right: 0;

    width: 625px;
    height: 625px;
    background-image: url('../img/border-background-header.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-header {
    display: flex;
    align-items: center;
}

.main-list {
    display: flex;
    justify-content: space-around;

    list-style: none;
    margin: 0;
    padding: 0;

    width: 585px;
}

.list-item-link {
    text-decoration: none;
}

.list-item-link,
.header-phone {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 18px;
    line-height: auto;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}

.main-header-middle {
    position: relative;
    margin-top: 255px;
    margin-left: 155px;
}

.main-header-middle::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -135px;

    width: 37px;
    height: 220px;

    background-image: url('../img/pagination1.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-header-img {
    position: absolute;
    top: -210px;
    right: 25%;
    z-index: 1;
}

.main-header-middle-title {
    position: relative;

    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 48px;
    line-height: auto;
    font-weight: 600;

    color: #212021;

    z-index: 1;
}

.main-header-middle-title::before {
    content: "Food";
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 85px;
    line-height: auto;
    font-weight: 600;
    color: #fffeff;

    position: absolute;
    top: -45px;
    left: -40px;
    z-index: -1;
}

.main-header-middle-title::after {
    content: "Photography";
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 50px;
    line-height: auto;
    font-weight: 600;
    color: #fffeff;

    position: absolute;
    top: 25px;
    left: 190px;
    z-index: -1;
}

.header-middle-intro {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: rgba(33, 32, 33, 0.6);
    width: 265px;
}

.toportfolio {
    text-decoration: none;
    font-family: 'Myriad Pro', Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    text-transform: lowercase;
    color: #212021;
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    text-transform: uppercase;
}

.social-item {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: lighter;
    color: rgba(33, 32, 33, 0.4);
}

.social-item:not(:first-child) {
    position: relative;
    margin-left: 30px;
}

.social-item:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;

    width: 12px;
    height: 2px;
    background-color: rgba(33, 32, 33, 0.4);
}

.section-title {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    text-align: center;
    color: #212021;
}

.portfolio-title {
    text-transform: uppercase;
}

.portfolio-paragraph {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;

    color: #1c1c1c;
}

.picture-with-title {
    display: flex;
    flex-direction: column-reverse;

    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: lighter;
    color: rgba(33, 32, 33, 0.4);
}

.detailed-title {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;

    color: #212021;
}

.detailed-p {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;

    color: #212021;
}

.link-download {
    position: relative;

    font-family: 'Myriad', Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;

    color: #212021;
}

.link-download::before {
    content: "";
    position: absolute;

    width: 165px;
    height: 1px;

    bottom: -8px;
    left: 0;
    background-color: #212021;
}

.link-download::after {
    content: "";
    position: absolute;

    width: 24px;
    height: 28px;

    right: -35px;

    background-image: url('../img/icon_pdf.png');
    background-repeat: no-repeat;
    background-position: 0;
}